//Colors
$dark-bg: #06052f;
$blue1: #89fbff;
$blue2: #3c89f1;
$blue3: #514cf8;
$gradient-bg: linear-gradient(to top, $blue1, $blue2, $blue3);

$dark-gray: #343A49;
$gray: #444B5E;
$blue: #2667FF;
$dark-blue: #224DB8;
$orange: #FFA41C;
$bright-gray: #C9C9D5;
$red: #F00808;


$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;